@charset "utf-8" ;
/*CSS DOCUMENT*/

*{margin:0; padding: 0;} /*Resetar borda*/

 #div1{
	text-align: center; /*div onde estao as imagens */
 }
 
 .fonte1{
    font-family: 'Fantasy';
    color:#2C3A47;
    text-align:center;
    background-color:transparent;
	font-size:35px;
   }
  .fonte2{
    font-family: 'Fantasy';
    text-align: center;
    font-size:30px;
	color:#2C3A47;
   }
  .tamRadio {
    width: 20px;
    height: 25px;  
    
	
}
 
 .imagem1{
    width: 500px;
    height: 308px;
}

  .imagem2{
    width: 300px;
    height: 150px;
}


  .monalisa{
    width: 200px;
    height: 300px;
}

  .guernica{
    width: 400px;
    height: 200px;
}

  .noite{
    width: 400px;
    height: 200px;
}

  .lirios{
    width: 400px;
    height: 200px;
}


  .grito{
    width: 200px;
    height: 300px;
}


  .venus{
    width: 500px;
    height: 300px;
}

.liberdade{
    width: 500px;
    height: 300px;
}
 
 .primavera{
    width: 500px;
    height: 300px;
}
 
 